{% extends "JuliePlatformBundle::layout.html.twig" %}
{% block flexslider %}
	<div id="main">
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			<div id="buttons-admin">
			<a class="btn btn-info btn-sm" style="width:140px"  href="{{ path ('Galerie_edit', {'id': 27} ) }}"   >Modifier cette galerie</a>
		</div>
		{% endif %}

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="right_side_visitor">
			<div id="slider" class="flexslider">
				<ul class="slides">
					{% for image in listImage %}
						<li>
							<img src="{{ asset ('' ~image.webPath) }}"/>
							{# to use the titre variable outside the loop #}
							{% set titre = image.titre %}	
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		{#
		<div id="homeslider" class="flexslider">		
			<ul class="slides">
				
				<li>
					<img src="../img/IMG_13.jpg"/>	
				</li>
				<li>
					<img src="../img/IMG_15.jpg"/>
				</li>
			</ul>
		</div>	
	</div>
	#}
{% endblock flexslider %}

{% block javascript %}
{{ parent() }}
	<script type="text/javascript" src="{{ asset('/js/homepageFlex.js') }}"></script>
{% endblock %}

{% block footer %}	
{% endblock footer %}

