{% extends "JuliePlatformBundle::layout.html.twig" %}

{% block flexslider %}
	<div id="main">
		<div id="homeslider" class="flexslider">		
			<ul class="slides">
				<li>
					<img src="../img/IMG_12.jpg"/>	
				</li>
				<li>
					<img src="../img/IMG_13.jpg"/>	
				</li>
				<li>
					<img src="../img/IMG_15.jpg"/>
				</li>
			</ul>
		</div>	
	</div>
{% endblock flexslider %}

{% block javascript %}
{{ parent() }}
	<script type="text/javascript" src="{{ asset('/js/homepageFlex.js') }}"></script>
{% endblock %}

{% block footer %}	
{% endblock footer %}

