{% extends "JuliePlatformBundle::layout.html.twig" %}

{% block title %} {{parent() }} - Index{% endblock %}

{% block right_side %}
	<div id="home_carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000" data-pause="false">
		<div class="carousel-inner">
			<div class="item active">
				<img src="../img/IMG_5488.jpg" class="img-responsive" alt="Responsive image">
			</div>
			<div class="item">
				<img src="../img/IMG_5498.jpg" class="img-responsive" alt="Responsive image">
			</div>
			<div class="item">
				<img src="../img/IMG_6407.jpg" class="img-responsive" alt="Responsive image">
			</div>
			<div class="item">
				<img src="../img/IMG_6460.jpg" class="img-responsive" alt="Responsive image">
			</div>
			<div class="item">
				<img src="../img/IMG_7521.jpg" class="img-responsive" alt="Responsive image">
			</div>
			<div class="item">
				<img src="../img/IMG_8684.jpg" class="img-responsive" alt="Responsive image">
			</div>
		</div>
	</div>
{% endblock right_side %}

{% block footer %}
	<p>FOOTER</p>
{% endblock footer %}