/app/config/parameters.yml
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/web/bundles/
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
web/img/
web/uploads/img/
node_modules

