{% extends "JuliePlatformBundle::layout.html.twig" %}

{% block body %}

	{% include "JuliePlatformBundle::Navbar/navBar.html.twig" %}

	{% block left_side %}
		<a href="{{ path('Galerie_show', {'id': galerie.id}) }}" class="btn btn-default">Retour</a>
	{% endblock left_side %}

	{% block right_side %}
		{% include 'JuliePlatformBundle::Galeries/form.html.twig' %}
	{% endblock right_side %}

{% endblock body%}