{% extends "JuliePlatformBundle::layout.html.twig" %}

{# {% block title %} {{ parent() }} {% endblock %} #}

{% block body%} 
{{ parent() }}
		
{% include "JuliePlatformBundle::Navbar/navBar.html.twig" %}
		
{% block left_side %}
	<div class="row">
		<div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
			<div id="left_side">
			</div>
		</div>
	</div>
{% endblock left_side %}

{% block right_side %}
	<div class="col-xs-8 col-sm-9 col-md-10 col-lg-10">
		<div id="right_side">
		</div>
	</div>
{% endblock right_side %}
		

{% block footer %}
{% endblock footer %}

{% endblock %}