# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
#    service_name:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]
    app.menu_builder:
        class:				Julie\PlatformBundle\Menu\MenuBuilder
        arguments:			['@knp_menu.factory', '@doctrine.orm.entity_manager']

    app.menu.main:
        class:				Knp\Menu\MenuItem
        factory_service:	app.menu_builder
        factory_method:		createMainMenu
        tags:
            - { name: knp_menu.menu, alias: main }

    app.menu.reportage:
        class:				Knp\Menu\MenuItem
        factory_service:	app.menu_builder
        factory_method:		createReportageMenu
        tags:
            - { name: knp_menu.menu, alias: reportage }

    app.menu.art:
        class:				Knp\Menu\MenuItem
        factory_service:	app.menu_builder
        factory_method:		createArtMenu
        tags:
            - { name: knp_menu.menu, alias: art }

    app.menu.studio:
        class:				Knp\Menu\MenuItem
        factory_service:	app.menu_builder
        factory_method:		createStudioMenu
        tags:
            - { name: knp_menu.menu, alias: studio }

    app.menu.video:
        class:				Knp\Menu\MenuItem
        factory_service:	app.menu_builder
        factory_method:		createVideoMenu
        tags:
            - { name: knp_menu.menu, alias: video }

    app.menu.souvenir:
        class:				Knp\Menu\MenuItem
        factory_service:	app.menu_builder
        factory_method:		createSouvenirMenu
        tags:
            - { name: knp_menu.menu, alias: souvenir }