Home_page_Julie:
    path:     /
    defaults: { _controller: JuliePlatformBundle:Home:index }

About:
    path:     /about
    defaults: { _controller: JuliePlatformBundle:Home:about }

Contact:
    path:     /contact
    defaults: { _controller: JuliePlatformBundle:Home:contact }

NouvelleGalerie:
    path:     /nouvelleGalerie
    defaults: { _controller: JuliePlatformBundle:Galeries:nouvelleGalerie }

Galerie_show:
    path:     /{categorie}/galerie/{id}
    defaults: { _controller: JuliePlatformBundle:Galeries:showGalerie }
    requirements:
        id:   \d+
        categorie: homepage|reportage|projects|studio|video|others

Galerie_edit:
    path:     /edit/{id}
    defaults: { _controller: JuliePlatformBundle:Galeries:editGalerie }
    requirements:
        id:   \d+

Galerie_delete:
    path:     /delete/{id}
    defaults: { _controller: JuliePlatformBundle:Galeries:deleteGalerie }
    requirements:
        id:   \d+

Image_details:
    path:     /image/{id}
    defaults: {_controller: JuliePlatformBundle:Galeries:imageDetails }
    requirements:
        id:   \d+
