{% extends "JuliePlatformBundle::layout.html.twig" %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="my_way">
			<div class="element"><img src="img/ABOUT1080.jpg"></div>
			<div class="element">After studying photography in visual communication in Liege (Belgium), Julie experienced different ways of dealing with news and daily life. Going to meet human in revolts, she travels and works as a freelance photographer. Based in Paris.</div>
		</div>		 <!-- div my_way flex -->
	</div>
	<div class="row">
		<div id="split_line"></div>
	</div>
	<div class="row">
		<div id="expos">
		<h4>Expositions:</h4>
			<ul id="calendar">
				<li class="year">2016
					<ul class="dates">
						<li class="events">
							<p class="event_details">"Rendez-vous photos", Galerie de Chahaignes, 19 mars-3 Avril</p>
						</li>
						<li class="events">
							<p class="event_details">Marché d'Art, la Perrière. Obtention du prix du jury de La Perrière 15-16 Mai</p>
						</li>
						<li class="events">
							<p class="event_details">Marché des Arts, Orléans 8-9 Octobre</p>
						</li>
					</ul>
				</li>
				<li class="year">2015
					<ul class="dates">
						<li class="events">
							<p class="event_details">Marché d'Art, la Perrière,</p>
						</li>
						<li class="events">
							<p class="event_details">Galerie Art Eclipse, Paris, 12-17 Aout</p>
						</li>
					</ul>
				</li>
				<li class="year">2014
					<ul class="dates">
						<li class="events">
							<p class="event_details">Campo Santo, Orléans, 11-12 Octobre</p>
						</li>
						<li class="events">
							<p class="event_details">Nuit de la Photographie Contemporaine, Invalides 7 Octobre</p>
						</li>
						<li class="events">
							<p class="event_details">Le grenier à sel, Bellème, 5-15 Juin</p>
						</li>
						<li class="events">
							<p class="event_details">18ème Marché d'Art, La Perrière, 8-9 Juin</p>
						</li>
						<li class="events">
							<p class="event_details">Nuit de la photographie, Place St Sulpice, 26-27  Mai</p>
						</li>
					</ul>
				</li>
				<li class="year">2013
					<ul class="dates">
						<li class="events">
							<p class="event_details">1ère Nuit de la Photographie Contemporaine, Invalides,  8 Octobre</p>
						</li>
						<li class="events">
							<p class="event_details">Exposition à l'Ile d'Oléron du 19 Juillet au 10 Août</p>
						</li>
						<li class="events">
							<p class="event_details">Nuits de la Photographie, Place St Sulpice, 3 Juin</p>
						</li>
						<li class="events">
							<p class="event_details">Musée Château Saint-Jean - Nogent-Le-Rotrou, 24 Mai au 17 Juin</p>
						</li>
						<li class="events">
							<p class="event_details">Galerie In Situ - Nogent le Rotrou, 4- 25 Mai</p>
						</li>
					</ul>
				</li>
				<li class="year">2012
					<ul class="dates">
						<li class="events">
							<p class="event_details">Mondes Bohèmes - Paris XX, 22 Octobre 11 Novembre</p>
						</li>
						<li class="events">
							<p class="event_details">Phox Martino - Chartres, 15 septembre 17 Octobre</p>
						</li>
						<li class="events">
							<p class="event_details">Marché dArt - La Perrière, 27-28 Mai</p>
						</li>
						<li class="events">
							<p class="event_details">Puls'Art - Le Mans,  16 au 20 Mai</p>
						</li>
						<li class="events">
							<p class="event_details">"Regard" - Alençon, 1er au 18 Mars</p>
						</li>
						<li class="events">
							<p class="event_details">"Nocturne" - Verrière le buisson, 3 au 19 Février</p>
						</li>
					</ul>
				</li>
				<li class="year">2011
					<ul class="dates">
						<li class="events">
							<p class="event_details">L'évidence - Paris 20ème, 1 au 31 Décembre</p>
						</li>
						<li class="events">
							<p class="event_details">Photographie #4 - La Loupe, 1er au 16 Octobre</p>
						</li>
						<li class="events">
							<p class="event_details">Galerie Atelier d'Artiste - La Perrière 1er au 30 Septembre</p>
						</li>
						<li class="events">
							<p class="event_details">Marché d'Art - La Perrière, 29-30 Mai</p>
						</li>
					</ul>
				</li>
			</ul> <!-- ul calendar -->
		</div> <!-- div expos -->
	</div>
</div> <!-- div about -->

{% endblock %}
{% block footer %}
	{{ parent() }}
{% endblock %}