{% extends "JuliePlatformBundle::layout.html.twig" %}

{% block left_side %}
	BLOCK LEFT-SIDE 

	<p>
		La on mettra une petite photo sympa, ou un truc de déco quelconque.
	</p>
	
{% endblock left_side %}

{% block right_side %}
	<p>
		Pour me contacter</br>
	</p>
	

	<p>
		Julie Franchet</br>
		Mail: JulieFranchet@free.fr</br>
		Tel: 06.00.00.00.00</br>
		</br>
		</br>

		Galerie permanente:</br>
		5 Rue de la Belle photo</br>
		75000 Panam</br>
		France
	</p>
{% endblock right_side %}
