{% extends "JuliePlatformBundle::layout.html.twig" %}

{% block body %}
	<div id="contact">
		<img src="img/Autoportrait.jpg">
		<div id="contact_infos">
			<h4>Pour me contacter:</h4></br>
			<p>
				<h4><em>Julie Franchet</em></br></h4>
				Mail:		escarabeille@gmail.com</br>
				Blog: 		<a href="http://juliefranchet.com/WordPress3/" target="_blank">Julie Franchet</a></br>
				Instagram: 	<a href="https://www.instagram.com/escarabeille/" target="_blank">escarabeille</a></br>
				Facebook:	<a href="https://www.facebook.com/julie.franchet.5" target="_blank">Julie Franchet </a></br>
				Twitter: 	<a href="https://twitter.com/juliedjan" target="_blank">@JulieDjan</a></br>
				Linked In:	<a href="https://fr.linkedin.com/in/juliefranchet" target="_blank">Julie Franchet</a></br>

			</p>
		</div>
	</div> <!-- div contact -->
{% endblock body %}
