{% extends "JuliePlatformBundle::layout.html.twig" %}

{% block body %}
	<div id="contact">
		<img src="../img/Autoportrait.jpg">
		<div id="contact_infos">
			<h4>Pour me contacter:</h4></br>
			<p>
				<h4><em>Julie Franchet</em></br></h4>
				Mail:		escarabeille@gmail.com</br>
				Blog: 		<a href="http://juliefranchet.com/WordPress3/">Julie Franchet</a></br>
				Instagram: 	<a href="https://www.instagram.com/escarabeille/">escarabeille</a></br>
				Twitter: 	<a href="https://twitter.com/juliedjan">@JulieDjan</a></br>
				Linked In:	<a href="https://fr.linkedin.com/in/juliefranchet">Julie Franchet</a></br>

			</p>
		</div>
	</div> <!-- div contact -->
{% endblock body %}
