body { 
  padding-top:      110px;
  background-color: #E6E6FA;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
    margin:     0;
    padding:    0;
    list-style: none;
}

.flexslider {
	max-width:     100%;
	max-height:    700px;
	overflow:      hidden;
}

.flexslider .slides img {
	width: 100%;
	vertical-align: middle;
}

.flexslider .slides { zoom: 1; }

#banniere {
	display: block;
	margin: 0 auto;
}

.galerie {
	max-width: 100%;
	max-height: 700px;
	overflow: hidden;
}